@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* --- ¡ESTA ES LA SOLUCIÓN GLOBAL PARA EL HEADER STICKY! --- */
html {
  /* Opcional: Esto hace que el salto sea una animación suave, se ve genial */
  scroll-behavior: smooth;

  /* ¡ESTA ES LA LÍNEA MÁGICA! 
     Le dice al navegador que deje 4rem (64px, o h-16) de espacio
     arriba al calcular la posición de un salto de ancla.
  */
  scroll-padding-top: 4rem; 
}